body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    display: inline-block;
    text-align: center;
    padding: 0 10px 10px 10px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #ee393b;
}