body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    display: inline-block;
    text-align: center;
    padding: 0 10px 10px 10px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #ee393b;
}

header{
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}


nav{
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}

main{
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

#login{
    max-width: 200px;
    background-color: aqua;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}