body{
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    float: left;
    display: inline-block;
    text-align: center;
    padding: 0 10px 10px 10px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #ee393b;
}

header{
    background-color: darkseagreen;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}



main{
    background-color: hotpink;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}

#login{
    max-width: 160px;
    background-color: aqua;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}

#leftImage{
    max-width: 200px;
    float: left;
    margin: 10px 10px 10px 0;

}

.Flag{
    width: 32px;
}